# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

# Load the three datasets
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

# Display the first few rows of each dataframe to understand their structure
print("Dataset 1:\n", df1.head())
print("\nDataset 2:\n", df2.head())
print("\nDataset 3:\n", df3.head())

Dataset 1:
   Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

Dataset 2:
   Customer          ST GENDER Education Customer Lifetime Value  Income  \
0  GS98873     Arizona      F  Bachelor              323912.47%   16061
1  CW49887  California      F    Master              462680.11%   79487
2  MY31220  California      F   College              899704.02%   54230
3  UH35128      Oregon      F   College             2580706.30%   71210
4  WH52799     Arizona      F   College              380812.21%   94903

   Monthly Premium Auto Number of Open Complaints  Total Claim Amount  \
0                    88                    1/0/00               633.6
1                   114                    1/0/00               547.2
2                   112                    1/0/00               537.6
3                   214                    1/1/00              1027.2
4                    94                    1/0/00               451.2

      Policy Type  Vehicle Class
0   Personal Auto  Four-Door Car
1    Special Auto            SUV
2   Personal Auto   Two-Door Car
3   Personal Auto     Luxury Car
4  Corporate Auto   Two-Door Car

Dataset 3:
   Customer       State  Customer Lifetime Value             Education Gender  \
0  SA25987  Washington              3479.137523  High School or Below      M
1  TB86706     Arizona              2502.637401                Master      M
2  ZL73902      Nevada              3265.156348              Bachelor      F
3  KX23516  California              4455.843406  High School or Below      F
4  FN77294  California              7704.958480  High School or Below      M

   Income  Monthly Premium Auto  Number of Open Complaints    Policy Type  \
0       0                   104                          0  Personal Auto
1       0                    66                          0  Personal Auto
2   25820                    82                          0  Personal Auto
3       0                   121                          0  Personal Auto
4   30366                   101                          2  Personal Auto

   Total Claim Amount  Vehicle Class
0          499.200000   Two-Door Car
1            3.468912   Two-Door Car
2          393.600000  Four-Door Car
3          699.615192            SUV
4          484.800000            SUV

In [2]:
# Clean df1
df1.columns = df1.columns.str.lower().str.replace(' ', '_')
# Apply data cleaning logic for df1 (standardize gender, state, etc.)

# Clean df2
df2.columns = df2.columns.str.lower().str.replace(' ', '_')
# Apply data cleaning logic for df2

# Clean df3
df3.columns = df3.columns.str.lower().str.replace(' ', '_')
# Apply data cleaning logic for df3

In [3]:
# Combine the cleaned datasets
df_combined = pd.concat([df1, df2, df3], ignore_index=True)

# Reset index after combining
df_combined = df_combined.reset_index(drop=True)

# Verify the combined dataframe
print("\nCombined Dataset:\n", df_combined.head())

Combined Dataset:
   customer          st gender             education customer_lifetime_value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount state
0  Four-Door Car            2.704934   NaN
1  Four-Door Car         1131.464935   NaN
2   Two-Door Car          566.472247   NaN
3            SUV          529.881344   NaN
4  Four-Door Car           17.269323   NaN

In [6]:
# Display the column names and data types to identify the correct columns
print(df_combined.columns)
print(df_combined.dtypes)

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount', 'state'],
      dtype='object')
customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
state                         object
dtype: object

In [8]:
# Check the column names of the combined dataframe
print(df_combined.columns)

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount', 'state'],
      dtype='object')

In [11]:
# Convert the 'number_of_open_complaints' column to numeric, forcing errors to NaN
df_combined['number_of_open_complaints'] = pd.to_numeric(df_combined['number_of_open_complaints'], errors='coerce')

# Check for non-numeric rows in the column
print(df_combined['number_of_open_complaints'].head())  # Check the first few rows after cleaning

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: number_of_open_complaints, dtype: float64

In [12]:
# Check the unique values in the 'number_of_open_complaints' column
print(df_combined['number_of_open_complaints'].unique())

[nan  0.  2.  3.  1.  5.  4.]

In [13]:
# Fill missing values with the median of the 'number_of_open_complaints' column
df_combined['number_of_open_complaints'] = df_combined['number_of_open_complaints'].fillna(df_combined['number_of_open_complaints'].median())

# Verify the result
print(df_combined['number_of_open_complaints'].head())

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: number_of_open_complaints, dtype: float64

In [14]:
# Verify that no missing values remain
print("\nMissing values after cleaning:\n", df_combined.isnull().sum())

Missing values after cleaning:
 customer                      2937
st                           10007
gender                        3059
education                     2937
customer_lifetime_value       2944
income                        2937
monthly_premium_auto          2937
number_of_open_complaints        0
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
state                         5004
dtype: int64

In [15]:
# Save the cleaned combined dataset
df_combined.to_csv("cleaned_combined_insurance_data.csv", index=False)
print("Cleaned combined dataset saved successfully.")

Cleaned combined dataset saved successfully.

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [16]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)

# Check the first few rows of the dataframe to understand its structure
print(df.head())

# Create a pivot table to summarize the total revenue for each sales channel
pivot_sales_channel = df.pivot_table(
    values='total_claim_amount',  # assuming total_claim_amount represents the total revenue
    index='sales_channel',  # sales channel column
    aggfunc='sum'  # Sum up the total revenue
)

# Round the total revenue to 2 decimal points
pivot_sales_channel = pivot_sales_channel.round(2)

# Display the pivot table
print(pivot_sales_channel)

   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]
               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

In [17]:
# Create a pivot table to summarize the average customer lifetime value per gender and education level
pivot_clv = df.pivot_table(
    values='customer_lifetime_value',  # assuming 'customer_lifetime_value' is the relevant column
    index=['gender', 'education'],  # Grouping by gender and education level
    aggfunc='mean'  # Calculate the average
)

# Round the average lifetime value to 2 decimal points
pivot_clv = pivot_clv.round(2)

# Display the pivot table
print(pivot_clv)

                             customer_lifetime_value
gender education
F      Bachelor                              7874.27
       College                               7748.82
       Doctor                                7328.51
       High School or Below                  8675.22
       Master                                8157.05
M      Bachelor                              7703.60
       College                               8052.46
       Doctor                                7415.33
       High School or Below                  8149.69
       Master                                8168.83

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here